USE [master]
GO

/****** 1. Crear la Base de Datos ******/
IF NOT EXISTS (SELECT * FROM sys.databases WHERE name = 'CategoriaDB')
BEGIN
    CREATE DATABASE [CategoriaDB]
END
GO

/****** 2. Crear el Login a nivel de Servidor ******/
IF NOT EXISTS (SELECT * FROM sys.server_principals WHERE name = 'Categoria_V')
BEGIN
    CREATE LOGIN [Categoria_V] WITH PASSWORD = N'Skrillex1.', 
        DEFAULT_DATABASE = [CategoriaDB], 
        CHECK_EXPIRATION = OFF, 
        CHECK_POLICY = OFF
END
GO

USE [CategoriaDB]
GO

/****** 3. Crear el Usuario en la BD y asignarle el rol db_owner ******/
IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = 'Categoria_V')
BEGIN
    CREATE USER [Categoria_V] FOR LOGIN [Categoria_V]
    ALTER ROLE [db_owner] ADD MEMBER [Categoria_V]
END
GO

/****** 4. Creación de Tablas ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Tabla de historial de migraciones de Entity Framework
IF NOT EXISTS (SELECT * FROM sys.tables WHERE name = '__EFMigrationsHistory')
BEGIN
    CREATE TABLE [dbo].[__EFMigrationsHistory](
        [MigrationId] [nvarchar](150) NOT NULL,
        [ProductVersion] [nvarchar](32) NOT NULL,
     CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
    (
        [MigrationId] ASC
    )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
    ) ON [PRIMARY]
END
GO

-- Tabla de Categorías
IF NOT EXISTS (SELECT * FROM sys.tables WHERE name = 'Categorias')
BEGIN
    CREATE TABLE [dbo].[Categorias](
        [IdCategoria] [int] IDENTITY(1,1) NOT NULL,
        [Nombre] [nvarchar](max) NOT NULL,
        [Descripcion] [nvarchar](max) NOT NULL,
        [Estado] [bit] NOT NULL,
     CONSTRAINT [PK_Categorias] PRIMARY KEY CLUSTERED 
    (
        [IdCategoria] ASC
    )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
    ) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO

/****** 5. Datos Iniciales ******/
IF NOT EXISTS (SELECT * FROM [dbo].[__EFMigrationsHistory] WHERE [MigrationId] = N'20260823222446_Inicial')
BEGIN
    INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260823222446_Inicial', N'9.0.0')
END
GO

USE [master]
GO