USE [master]
GO

/****** 1. Crear la Base de Datos ******/
IF NOT EXISTS (SELECT * FROM sys.databases WHERE name = 'VehiculoDB')
BEGIN
    CREATE DATABASE [VehiculoDB]
END
GO

/****** 2. Crear el Login a nivel de Servidor ******/
IF NOT EXISTS (SELECT * FROM sys.server_principals WHERE name = 'Vehiculos')
BEGIN
    CREATE LOGIN [Vehiculos] WITH PASSWORD = N'Skrillex1.', 
        DEFAULT_DATABASE = [VehiculoDB], 
        CHECK_EXPIRATION = OFF, 
        CHECK_POLICY = OFF
END
GO

USE [VehiculoDB]
GO

/****** 3. Crear el Usuario en la BD y asignarle el rol db_owner ******/
IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = 'Vehiculos')
BEGIN
    CREATE USER [Vehiculos] FOR LOGIN [Vehiculos]
    ALTER ROLE [db_owner] ADD MEMBER [Vehiculos]
END
GO

/****** 4. Creación de Tablas ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Tabla de historial de migraciones de Entity Framework
IF NOT EXISTS (SELECT * FROM sys.tables WHERE name = '__EFMigrationsHistory')
BEGIN
    CREATE TABLE [dbo].[__EFMigrationsHistory](
        [MigrationId] [nvarchar](150) NOT NULL,
        [ProductVersion] [nvarchar](32) NOT NULL,
     CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
    (
        [MigrationId] ASC
    )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
    ) ON [PRIMARY]
END
GO

-- Tabla de Vehículos
IF NOT EXISTS (SELECT * FROM sys.tables WHERE name = 'Vehiculos')
BEGIN
    CREATE TABLE [dbo].[Vehiculos](
        [IdVehiculo] [int] IDENTITY(1,1) NOT NULL,
        [IdCategoria] [int] NOT NULL,
        [Marca] [nvarchar](max) NOT NULL,
        [Modelo] [nvarchar](max) NOT NULL,
        [Precio] [decimal](18, 2) NOT NULL,
        [Stock] [int] NOT NULL,
        [Estado] [bit] NOT NULL,
     CONSTRAINT [PK_Vehiculos] PRIMARY KEY CLUSTERED 
    (
        [IdVehiculo] ASC
    )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
    ) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO

/****** 5. Datos Iniciales ******/
IF NOT EXISTS (SELECT * FROM [dbo].[__EFMigrationsHistory] WHERE [MigrationId] = N'20260823223713_Inicial')
BEGIN
    INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260823223713_Inicial', N'9.0.0')
END
GO

USE [master]
GO